<ion-tabs [selectedIndex]="2">
  <ion-tab [root]="tab1Root" tabIcon="trophy"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="ios-chatbubbles"></ion-tab>
  <ion-tab [root]="tab5Root" tabIcon="contact"></ion-tab>

</ion-tabs>
