page-event {
    .image{
        width: 100%;
        left: 0;
        top: 0;
        height: 184px;
        position: absolute;
    }
    .card-title {
        position: absolute;
        top: 0%;
        left: 7%;
        font-size: 4em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .paragraph{
        position: relative;
        font-style: normal;
        font-family: initial;
        top: -296px;
        text-align: left;
    }

}
