<!--
  Generated template for the EventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Event</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <img full class="image" src="assets/imgs/rangoli.png" /> 
    <p class="card-title">college Party</p>
    <div>
      <h1 style="
          position: absolute;
          margin: 170px 0 0 0;
          font-size: 38px;">05</h1>

      <h6 style="
      position: absolute;
      margin: 212px 0 0 1%;
      font-size: 20px;">OCT</h6>
      <h1 style="
      position: absolute;
      margin: 174px 0 0 118px;">College Party</h1>
      <ion-icon name="pin" style="
      position: absolute;
      left: 150px;
      top: 230px;
      color: rgb(146, 142, 142);
      font-size: 16px;"></ion-icon>
      <p style="
      position: absolute;
      margin: 214px 0 0 39%;
      color: rgba(189, 189, 189, 0.97);
      font-weight: bold;
      font-size: 16px;">Hyderabad</p>    
    </div>


    <div>
      <ion-icon style="position: absolute; 
      margin: 250px 0 0 3%;
      font-size: 30px;" name="thumbs-up"></ion-icon>
      <ion-icon style="position: absolute; 
      margin: 250px 0 0 32%;
      font-size: 30px;" name="checkmark-circle-outline"></ion-icon> 
      <ion-icon style="position: absolute; 
      margin: 250px 0 0 60%;
      font-size: 30px;" name="share"></ion-icon>
      <ion-icon style="position: absolute; 
      margin: 250px 0 0 87%;
      font-size: 30px;" name="more"></ion-icon>
    </div>

    
    <div>
      <p style="top: 286px;
      position: absolute;
      font-size: 15px;
      color: rgba(37, 9, 2, 0.88);
      font-weight: bold;">Interested</p>
      <p style="top: 286px;
      position: absolute;
      left: 34%;
      font-size: 15px;
      color: rgba(37, 9, 2, 0.88);
      font-weight: bold;">Going</p>
      <p style="top: 286px;
      position: absolute;
      left: 63%;
      font-size: 15px;
      color: rgba(37, 9, 2, 0.88);
      font-weight: bold;">Share</p>
      <p style="top: 286px;
      position: absolute;
      left: 87%;
      font-size: 15px;
      color: rgba(37, 9, 2, 0.88);
      font-weight: bold;">more</p>
    </div>
    <hr style="margin: 320px -5%;
      position: relative;
      height: 2px; ">

    <ion-card-content class="paragraph">    
      <p>Then we all took a round of the area. We went to see this majestic monument at a close distance. Then we went to the pond and enjoyed boating. Boating in neat and clean water near the tall historical building was certainly thrilling. There were a large number of people there. They all were there to enjoy the weather. There were foreigners also. They were taking snaps of the surroundings from different angles and in different pose. They also came to us with some of their queries. We attended them well. They were very pleased with us. They also took our snaps.</p>

      <p>We felt hungry by that time. We came back to our picnic spot. Two of our friends were there. They were eagerly waiting for us. Everything was ready. We sat to have our lunch. The lunch consisted of varieties of eatables. We all had lunch to our heart’s content. Meanwhile there came a juggler who was having monkey couple. He was entertaining the people all around with the extraordinary feat and skills which left the spectators wonderstruck. The tricks of the monkeys were really marvelous. The juggler made the monkey dance to the tune of dumroo. Their dance was really enchanting. At the end of the show, the crowd paid the juggler as per their capabilities.</p>  
    </ion-card-content>

</ion-content>
