<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons end>
        <button ion-button icon-only menuToggle >
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>    
    <ion-title>chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
