<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="image">
      <ion-icon class="create" name="create"></ion-icon>      
      <ion-avatar >
        <img src="assets/imgs/menu-icon.png"/>
      </ion-avatar>
      
    </div>
  

    <div>  
      <ion-label class="names">Anderson Anderson</ion-label>
      <ion-icon  class="pin-location" name="pin"></ion-icon>
      <ion-label class="location">
        Hyderabad
      </ion-label>
    </div> 

    
    
    <div class="icon-bar">
      <ion-icon class="call" name="call" item-start style="color: green"></ion-icon>
      <ion-icon class="mail" name="mail-open" style="color: yellow"></ion-icon>
      <ion-icon class="chat" name="chatbubbles" style="color: green"></ion-icon>
    </div>


    <div style="color: red">  
      <ion-label class="degree">Degree Major</ion-label>
      <hr>
      <ion-label class="pledge">Pledge Class</ion-label>
      <hr >
      <ion-label class="alumni">Alumni</ion-label>
      <hr >
    </div>

</ion-content>
