page-contact {
   
    img{
        display: flex;
        position: absolute;
        top: 11px;
        width: 147px;
        border-radius: 50%;
        margin: 0 0 0 30%;
    } 
    
    .create{
        position: relative;
        font-size: 46px;
        color: rgb(245, 240, 240);
        left: 85%;
        top: 9px;
    }
    .image{
        height: 173px;
        width: 100%;
        background-color: rgb(7, 242, 66);
    }
    .toolbar-title{
        position: relative;
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #424242;
        margin: 0 0 0 0%;
    }
    .names{
        text-align: center;
        font-size: 25px;
    }


    .pin-location{
        position: relative;
        margin: 2px 0 0 144px;
        font-weight: lighter;
        color: rgb(152, 160, 160);
    }
    .location{
        font-weight: 100;
        position: relative;
        font-size: 15px;
        margin: -17px 0 0 169px;
    }

    /*Icons are displaying here */
    .icon-bar{
        font-size: 40px;
        margin: 32px 0 0 1%;
    }
    .call{
        margin: 0 0 0 40px;
    }
    .mail{
        margin: 0 0 0 84px;
    }
    .chat{
        margin: 0 0 0 91px;
    }


    /*names and other  activities come here */
    .degree{
        position: relative;
        margin: 49px 0 0 33px;
        font-size: 20px;
    }
    .pledge{
        position: relative;
        margin: 49px 0 0 33px;
        font-size: 20px;
    }
    .alumni{
        position: relative;
        margin: 49px 0 0 33px;
        font-size: 20px;
    }
    hr{
        margin-top: 42px;
    }

    
}
