body{
    background-color: rgba(241, 239, 239, 0.12);
}
#card1{
    background-color: white;
    border-radius: 10px;
    height: 88px;
    margin: 11px 0 0 18px;
    width: 88%;
}
#para1{
    font-size: 43px;
    color: white;
    background-color: limegreen;
    width: 24%;
    height: 88px;
    font-weight: bolder;
}

.date1{
    position: absolute;
    margin-left: 14px;
    margin-top: 14px;
    font-size: 40px;
    color: white;
    font-weight: bolder; 
}
#para2{
    position: absolute;
    margin: -77px 0 0 25%;
    font-weight: bold;
    font-size: 19px;
}
#para3{
    position: absolute;
    margin: -37px 0 0 25%;
    font-size: 14px;
    color: rgba(239, 13, 135, 0.91);
}

/*card2 properties*/
#card2{
    background-color : white;
    border-radius: 10px;
    height: 88px;
    margin-top: 25px;
    margin: 21px 0 0 18px;
    width: 88%;
}
.date2{
    position: absolute;
    margin-left: 14px;
    margin-top: 14px;
    font-size: 40px;
    color: white;
    font-weight: bolder; 
}
#para4{
    font-size: 43px;
    color: white; 
    background-color: limegreen; 
    width: 24%; 
    height: 88px;
    font-weight: bolder;
}
#para5{
    position: absolute;
    margin: -77px 0 0 25%;
    font-weight: bold;
    font-size: 19px;
}
#para6{
    position: absolute;
    margin: -37px 0 0 25%;
    font-size: 14px;
    color: rgba(239, 13, 135, 0.91);
}


/* inbox card */
#inbox{
    position: relative;
    margin: 38px 0 0 16px;
    height: 150px;
    width: 41%;
    border-radius: 4px;
}

#para-inbox{
    position: absolute;
    margin: 73px 0 0 58px;
    font-weight: bold;
}

#para-inbox147{
    position: absolute;
    margin: 101px 0 0 62px;
    color: rgb(228, 5, 126);
}

/* calendar card */
#calendar{
    position: relative;
    margin: -152px 0 0 198px;
    height: 150px;
    width: 41%;
    border-radius: 4px;
}
#para-events{
    position: absolute;
    margin: 73px 0 0 55px;
    font-weight: bold;
}

#para-events14{
    position: absolute;
    margin: 101px 0 0 62px;
    color: rgb(228, 5, 126);
}

/* highlights card*/
#create{
    position: relative;
    margin: 27px 0 0 16px;
    height: 150px;
    width: 41%;
    border-radius: 4px;
}

#para-highlights{
    position: absolute;
    margin: 76px 0 0 42px;
    font-weight: bold;
}
#para-highlights6{
    position: absolute;
    margin: 102px 0 0 62px;
    color: rgb(228, 5, 126);
}


/* announcements card */
#megaphone{
    position: relative;
    margin: -152px 0 0 198px;
    height: 150px;
    width: 41%;
    border-radius: 4px;
}

#para-announcements{
    position: absolute;
    margin: 76px 0 0 27px;
    font-weight: bold;
}

#para-announcements18{
    position: absolute;
    margin: 102px 0 0 62px;
    color: rgb(228, 5, 126);

}