<ion-header>
  <ion-navbar>

    <ion-buttons end>
      <button ion-button icon-only menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="card1">
    <p id="para1" ><span class="date1">23</span></p>  
    <p id="para2" >Freshers Party</p>
    <p id="para3" >Friday - at 19:00s</p>
  </ion-card>

  <ion-card id="card2">
    <p id="para4" ><span class="date2">24</span></p>
    <p id="para5">Day After Party</p>
    <p id="para6" >Friday - at 19:00</p>
  </ion-card>

  <ion-card id="inbox">
    <ion-icon name="mail" style="position: absolute;
    font-size: 48px;
    margin: 12px 0 0 55px;
    color: rgb(101, 148, 30);"></ion-icon>
    <p id="para-inbox" >Inbox</p>
    <p id="para-inbox147" >147</p>
  </ion-card>


  <ion-card id="calendar">
    <ion-icon name="calendar" style="position: absolute;
    font-size: 48px;
    margin: 12px 0 0 55px;
    color: cadetblue;"></ion-icon>
    <p id="para-events" >Events</p>
    <p id="para-events14" >14</p>
  </ion-card>
  



  <ion-card id="create">
    <ion-icon name="create" style="position: absolute;
    font-size: 48px;
    margin: 12px 0 0 55px;
    color: hsl(0, 84%, 18%);"></ion-icon>
    <p id="para-highlights" >Highlights</p>
    <p id="para-highlights6" >6</p>
  </ion-card>

  <ion-card id="megaphone">
    <ion-icon name="megaphone" style="position: absolute;
    font-size: 48px;
    margin: 12px 0 0 55px;
    color: rgb(10, 105, 38);"></ion-icon>
    <p id="para-announcements" >Announcements</p>
    <p id="para-announcements18" >18</p>
  </ion-card>

</ion-content>
