page-create {
    .title1 {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        position: relative;
    }

    .buttons{
        margin: 9px 7%;
        height: 36px;
        font-size: 20px;
        
    }
    .button-privat{
        text-transform: none;

    }
    .button-public{
        margin: 0 52px;
        text-transform: none;
  
    }
    .button-group{
        margin: 0 5px;
        text-transform: none;
        

    }
    .label-right{
        position: relative;
        text-align: right;
        margin-top: -22px;
    }
    #button-create{
        background-color: rgba(12, 239, 41, 0.78);
        height: 63px;
        border-radius: 8px;
        font-size: 25px;
        font-weight: bolder;
        text-transform: initial;
    }


}
