<!--
  Generated template for the CreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title class="title1">Create Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="buttons">
      <span class="button-private" color="dark" clear>Private</span>
      <span class="button-public" color="dark" clear>Public</span>
      <span class="button-group" color="dark" clear>Group</span>
    </div>
    <hr />
    
    <ion-list>

    <ion-item>
      <ion-label floating>Event Title</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Event Description</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Upload Photo</ion-label>
      <ion-input type="text"></ion-input><ion-icon name="camera" item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label floating>Date <ion-label class="label-right">MM/DD/YYYY</ion-label></ion-label>
            <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Time <ion-label class="label-right">00:00:000</ion-label></ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Location</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Ticket URL</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item> 

    </ion-list>  
    <div padding>
      <button id="button-create" ion-button  full>Create</button>
    </div>   
      


  </ion-content>
