page-events {

    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        position: relative;
    }
    .buttons{
        margin: 4% 0 0 -3%;
    }
    .button-home{
        margin: -6px 0 0 50px;
        text-transform: none;
        font-size: 22px;
        font-weight: normal;
        color: #1d0202e3;
    }
    .button-create{
        margin: -6px 0 0 63px;
        text-transform: none;
        font-size: 22px;
        font-weight: normal;
        color: #1d0202e3;
    }
    .card-md + ion-card {
        position: relative;
        text-align: center;
        height: 170px;
        margin-top: 17px;
    
    }
    
    .card-title {
    position: absolute;
    top: 19%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    }

    .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    }

    .paris{
        position: relative;
        text-align: center;
        height: 170px;

    }
    .card-title1 {
    position: absolute;
    top: 19%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    }

    .card-subtitle1 {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    }
}
