<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Events</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="buttons" >
    <button class="button-home" ion-button color="stable" clear>Home</button>
    <button class="button-create" ion-button color="stable" (click)="openCreatePage()" clear>Create</button>
  </div>
  <hr>
  <div>
    <ion-card class="paris" (click)="openEventPage()">
      <img src="assets/imgs/rangoli1.jpg" />
      <div class="card-title1" >College Party</div>
      <div class="card-subtitle1" >hyderabad</div>
    </ion-card>

    <ion-card (click)="openEventPage()">
      <img src="assets/imgs/party1.jpeg" />
      <div class="card-title" >EVENTS</div>
      <div class="card-subtitle" >hyderabad</div>
    </ion-card>

    <ion-card (click)="openEventPage()">
      <img src="assets/imgs/party2.jpg" />
      <div class="card-title" >EVENTS</div>
      <div class="card-subtitle" >hyderabad</div>
    </ion-card>

    <ion-card (click)="openEventPage()">
      <img src="assets/imgs/party3.jpg" />
      <div class="card-title" >EVENTS</div>
      <div class="card-subtitle" >hyderabad</div>
    </ion-card>
  </div>
</ion-content>
