.item-md ion-avatar img {
    border-radius: 50%;
    overflow: visible;
    height: 75px;
    width: 91px;
    position: relative;
    margin: -1px 0 0 -13px;
}
.item-md h2 {
    margin: 2px 12px;
    font-size: 23px;
    font-weight: bold;
}
.label-md {
    margin: 13px 8px 13px 20px;
}
.item-md h2 {
    margin: 2px 0px;
    font-size: 17px;
    font-weight: bold;
}
.item-md ion-icon[item-start], .item-md ion-icon[item-end] {
    margin-left: 0;
    -webkit-text-stroke-color: red;
    margin-top: 11px;
    -webkit-text-stroke-width: 1px;
    margin-bottom: 10px;
}