<ion-menu >
<ion-header>

  <ion-navbar>
    <ion-title>menu</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

    <ion-item>
      <ion-avatar class="avatar" item-start>
        <img src="assets/imgs/menu-icon.png">
      </ion-avatar>
      <h2>Anderson Anderson</h2>
      
    </ion-item>

    <ion-list>
      <button ion-item>
        <ion-icon name="trophy" item-start></ion-icon>
        Award Log
      </button>
    
      <button ion-item>
        <ion-icon name="clipboard" item-start></ion-icon>
        Chapter Directory
      </button>

      <button ion-item>
        <ion-icon name="eye" item-start></ion-icon>
        Privacy  
      </button>

      <button ion-item>
        <ion-icon name="list-box" item-start></ion-icon>
        Availability Search  
      </button>

      <button ion-item>
        <ion-icon name="time" item-start></ion-icon>
        Class Schedule 
      </button>

      <button ion-item>
        <ion-icon name="create" item-start></ion-icon>
        Highlights  
      </button>

      <button ion-item>
        <ion-icon name="flame" item-start></ion-icon>
          Hotbuttons
      </button>

      <button ion-item>
        <ion-icon name="star" item-start></ion-icon>
        Feedback  
      </button>

      <button ion-item>
        <ion-icon name="settings" item-start></ion-icon>
        Settings 
      </button>

      <button ion-item>
        <ion-icon name="log-out" item-start></ion-icon>
        Logout  
      </button>

    </ion-list>  

            
    
    
</ion-content>

</ion-menu>



